/* Brand Colors ------------------------------------------------*/

$color-fbook: #414f91;
$color-twitter: #4aa2d7;
$color-gplus: #bd330c;
$color-pinterest: #c91516;
$color-dribbble: #e84b89;
$color-flickr: #e62180;
$color-youtube: #dd2b22;
$color-vimeo: #40b3dd;
$color-instagram: linear-gradient(to right,#ec4455,#7239c8);
$ms-color-instagram: -ms-linear-gradient(to right,#ec4455,#7239c8);
$color-linkedin: #455c81;
$l-gradient-banner: linear-gradient(to left,#70269f,#35eef6);
$ms-l-gradient-banner: -ms-linear-gradient(to left,#70269f,#35eef6);
$lg-banner-border: linear-gradient(to left,#7024a1,#31dee6);
$ms-lg-banner-border: -ms-linear-gradient(to left,#7024a1,#31dee6);
$color-style-icon: #d1d5d8;
$sprite-maps: #a255c4;
$color-button-h4: #34383d;

	
	

	

