.tabs-container{
  width: 100%;
  position: relative;
  font-weight: 400;
  @media (min-width: 320px) and (max-width: 767px) {
    width: 96%;
    margin: 0 auto;
  }
  #menu-tabs{
    width: 503px;
    height: 35px;
    margin: auto;
    box-sizing: border-box;
    @media (min-width: 320px) and (max-width: 767px) {
      width: 100%;
      height: auto;
    }
  }
  .tabs{
    li {
      cursor: pointer;
      display: inline-block;
      border: 1px solid #bdc3c7;
      border-left: 0;
      margin: 0 -2px;
      text-align: center;
      padding: 11px 29px 12px;
      z-index: 2;
      font-size: 0.875em;
      color: $color-button-h4;
      text-transform: capitalize;
      @media (min-width: 320px) and (max-width: 767px) {
        display: block;
        width: 100%;
        margin: 0;
        padding: 12px 0;
        border-left: 1px solid #bdc3c7;
        border-bottom: 0;
      }
      &:last-child {
        border-right: 1px solid #bdc3c7;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        @media (min-width: 320px) and (max-width: 767px) {
          border-bottom: 1px solid #bdc3c7;
          border-top-right-radius: 0;
          border-bottom-left-radius: 3px;
        }
      }
      &:first-child {
        border-left: 1px solid #bdc3c7;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        @media (min-width: 320px) and (max-width: 767px) {
          border-bottom-left-radius: 0;
          border-top-right-radius: 3px;
        }
        &.active{
          border-left: 1px solid #41bedd;
        }
      }
      &.active{
        background: #41bedd;
        border: 1px solid #41bedd;
        border-left: 0;
        color: #FFFFFF;
        @media (min-width: 320px) and (max-width: 767px) {
          border-left: 1px solid #41bedd;
        }
      }
    }
  }
  .tab-content{
    width: 100%;
    padding-top: 30px;
    height: auto;
    margin-bottom: 50px;
    position: relative;
    display: block;
    .t1{
      width: 100%;
      height: auto;
    }
    .t2{
      width: 100%;
      height: auto;
    }
  }

}
.load-more-button{
  width: auto;
  display: block;
  button{
    display: block;
    padding: 11px 29px 12px;
    color: $color-button-h4;
    font-size: 0.875em;
    margin: 0 auto;
    text-transform: capitalize;
    background: #FFFFFF;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      color: #FFFFFF;
      background: $sprite-maps;
      border: 1px solid $sprite-maps;
    }
  }
}
.sizer{
  width: 370px;
  @media (min-width: 768px) and (max-width: 1169px) {
    width: 30%;
  }
  @media (min-width: 320px) and (max-width: 767px) {
  width: 100%;
  }
}
.item-masonry{
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
  @media (min-width: 768px) and (max-width: 1169px) {
    height: auto;
  }
  &:hover{
    .cover-item-gallery{
      display: block;

    }
  }
}
.item-masonry img{
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  @media (min-width: 320px) and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
  }
}
.cover-item-gallery{
  display: none;
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  border-radius: 4px;
  @media (min-width: 320px) and (max-width: 767px) {
    max-width: 100%;
  }
}
.cover-item-gallery a{
  display: block;
  width: 100%;
  height: 100%;
}
.cover-item-gallery .icon-search{
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
}